<?xml version='1.0' encoding='utf-8'?>
<plugin id="custom-plugin-notification" version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NotificationPlugin</name>
    <js-module name="NotificationPlugin" src="www/NotificationPlugin.js">
        <clobbers target="cordova.plugins.NotificationPlugin" />
		<clobbers target="custom.notification" />
		
    </js-module>
	
	<!-- android -->  
    <platform name="android">  
        <config-file target="res/xml/config.xml" parent="/*">  
            <feature name="NotificationPlugin">  
                <param name="android-package" value="org.apache.cordova.CustomPlugin.NotificationPlugin"/>  
            </feature>  
        </config-file>  	
  
  
        <source-file src="src/android/NotificationPlugin.java" target-dir="src/org/apache/cordova/CustomPlugin" />  
         
    </platform>  
</plugin>
